<!DOCTYPE html>
<html>
<head>
  
  <title>IF INSTiTuTions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <nav>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Головна</a>
                <a href="{{ url_for('main_menu2') }}">Заклади</a>

            </div>
        </nav>
    </header>

    <pre>


        <h1>                                                        Бар ГОСТ   </h1>
                                                    <img src="static/1493330379590269cb66b8f_14bef3839e379e9d1b8b1a9858307b19.jpg" width="1000" height="300">
                                                    У самому центрі Івано-Франківська, на вулиці Леся Курбаса, розмістився бар «ГOСТ Бар».
                                                    Оригінальний інтер'єр закладу дизайнери оформили в стилі радянських кафе 80 років минулого століття.
                                                    Особливістю бару вважається широкий асортимент крафтового пива від українських броварень.
                                                    Крім цього, тут можна замовити міцний алкоголь, українські вина, авторські коктейлі.
                                                    У меню представлені популярні європейські та українські страви, приготовані за домашніми рецептами. 
                                                    Відвідувачам подають холодні й гарячі закуски, салати, пивні снеки, перші страви, гарніри, основні страви, десерти.
                                                    До фірмових позицій меню відносяться:салат з ростбіфом,
                                                    паштет з цибулевим мармеладом,
                                                    форшмак з грінками,
                                                    свинячі ребра в медово-гірчичному соусі,
                                                    сирний крем-суп,
                                                    сиров'ялена телятина,
                                                    недерун по-італійськи,
                                                    куряче філе з малиновим соусом,
                                                    індик з гірчичним соусом,
                                                    бургер з мармеладом,
                                                    брауні під глазур'ю з базиліку.
                                                    (вулиця Леся Курбаса, 5)

        <h1>                                                      Бар Poverh   </h1>
                                                    <img src="static/poverh-396232.jpeg" width="1000" height="300">
                                                    У самому центрі Івано-Франківська, на вулиці Незалежності, гостей зустрічає рестобар «Poverh».
                                                    У розпорядженні гостей просторий дворівневий зал із затишними обідніми зонами. 
                                                    Інтер'єр рестобару виконаний у стилі лофт - контрастна бежево-чорна колірна гама,
                                                    лаконічні меблі та оздоблення з натурального дерева, метал і скло, стіна з живого моху, зелень і панорамні вікна.
                                                    У меню відвідувачам представлено широкий асортимент популярних і авторських страв італійської, європейської та іспанської кухонь.
                                                    Акцент зроблено на холодних і гарячих тапасах, а також на піці, яку випікають на тонкому тісті з різними варіантами начинок.
                                                    Також гості можуть замовити салати, перші й основні страви, а також десерти.
                                                    Серед фірмових страв закладу відзначають
                                                    піцу на чорному тісті з чорнилом каракатиці з начинкою з креветок, моцарели й руколи з вершковим соусом,
                                                    піцу «Прошуто крудо» з моцарелою, томатами чері, прошуто і соусом «Пілаті»,
                                                    сирну лазанью з трюфельною пастою,
                                                    чорні папарделе з лососем по-тосканськи,
                                                    чорні спагеті з креветками,
                                                    холодний тапас з карпачо з лосося, трюфельним соусом і каперсами,
                                                    гарячий тапас зі смаженої курячої грудинки, начиненою шпинатом і кремовим сиром,
                                                    крем-суп з моцарелою і лососем,
                                                    салат «Нісуаз» з сомом і лимонно-гірчичною заправою,
                                                    боул з лососем у медовій глазурі з сезонними овочами та картоплею,
                                                    телятину зі спаржею на подушці з цвітної капусти.
                                                    Для ласунів у рестобарі готують ряд оригінальних авторських десертів - шоколадний фондан з карамельним морозивом,
                                                    розмаринову пана-коту з апельсиновим конфітюром, ягідний франжипан з морозивом.
                                                    Серед напоїв у закладі представлені кава, кавомікси, чаї, класичний, імбирний і ягідний лимонад, смузі, фреші.
                                                    У барній карті акцент зроблено на різних коктейлях, які готують на основі горілки, бурбона, віскі, рому, текіли, джину, бренді, шампанського.
                                                    Крім того, є пиво, міцний алкоголь, вина Італії у бокалах.
                                                    На території рестобару відкритий винний бутик, де відвідувачі можуть придбати червоні, рожеві та білі італійські вина.

        <h1>                                                      Білий Налив  </h1>
                                                    <img src="static/63244082092678061_thumb.jpg" width="1000" height="300">
                                                    Сидровий бар Білий Налив пропонує великий вибір сидів власного виробництва. Меню включає українську кухню з дегустаціями сидів.
                                                    Також доступна сувенірна продукція. Лекції та майстер-класи роблять відвідування цікавим та пізнавальним.
                                                    Є жива музика · У барі подають страви · Є години знижок на напої
                                                    вулиця Незалежності, 7, приміщення 9, Івано-Франківськ, Івано-Франківська область, 78000

        <h1>                                                      П'яна Вишня  </h1>
                                                    <img src="static/444-2_novyj-razmer.jpg" width="1000" height="300">
                                                    Перший заклад П’яної Вишні з‘явився у Львові на площі Ринок в 2015 році.
                                                    Після тривалого пошуку рецепту тої знаної на заході України (і не тільки) вишнівки, ми створили ліпшу львівську настоянку.
                                                    Ми могли б ще довго розказувати, чому наша вишнівка така файна, але ліпше один раз спробувати, ніж багато разів почути.
                                                    Наша вишнівка - це настоянка міцністю 17.5 градусів п'ється легко і забирає швидко.
                                                    В міру солодка,настояна на кращому коньячому спирті та відбірних вишнях.
                                                    Добре надається до здибанок та інших пригод.
                                                    (вулиця Незалежності,4)
                                                    
        <h1>                                                      Franklin Lounge Bar  </h1>
                                                    <img src="static/завантаження.jpeg" width="1000" height="300">
                                                    <big><b>«Franklin Lounge Bar» — це новий лаунж-бар, що зачаровує сучасним дизайном, затишком та комфортом.</b></big>
                                                    Професіональні кухарі та офіціанти забезпечать вам чудовий настрій.
                                                    У нас ви можете скуштувати:
                                                    суші;
                                                    сандвічі;
                                                    салати;
                                                    коктейлі;
                                                    гарячі напої;
                                                    смачні обіди;
                                                    кальянне меню...
                                                    вул. Січових Стрільців 56, Івано-Франківськ, Івано-Франківська область, Україна









    </pre>








   
    <footer>
        <div class="footer-content">
            <div>

            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        
        <p style="text-align: center; margin-top: 3rem;">All rights reserved.</p>
    </footer>

</body>
</html>