<!DOCTYPE html>
<html>
<head>
  
  <title>IF INSTiTuTions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <nav>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Головна</a>
                <a href="{{ url_for('main_menu2') }}">Заклади</a>

            </div>
        </nav>
    </header>
    <pre>





        
        <h1>                                                        Цей топ відкриває «Макдональдс»</h1>
                                                    <img src="static/1517550_2107876.webp" width="1000" height="300">
                                                    <big>В Івано-Франківську в суботу, 17 квітня, відкрили перший у місті ресторан McDonald’s.
                                           Це місто стало третім на заході України, де працюють ресторани цієї мережі.
                                           Дотепер на заході України ресторани McDonald’s були лише у Львові й Тернополі.
                                                        </big>
                                                        Україна була 102-ю державою, де почала працювати мережа закладів харчування McDonald's, коли 24 травня 1997 року в
                                                        Києві було відкрито перший ресторан. Станом на 8 жовтня 2021 року, у 24 містах і чотирьох селах України діяли 106 закладів харчування.
                                                        Дев'ять українських ресторанів МакДональдз увійшли до списку 100 найвідвідуваніших закладів мережі в усьому світі:
                                                        зокрема, ресторан, що розташований у Києві біля Центрального залізничного вокзалу, посідає в цьому рейтингу друге місце

                                                    <big>Знаходиться він на вулиці «Івана Миколайчука 2» ТЦ Арсен
                                           Зал івано-франківського McDonald’s розрахований майже на 150 місць і є ще понад 80 місць на терасі.
                                           Заклад має каси самообслуговування та лінію МакДрайв.</big>
                                                    <img src="static/photo1667389571.jpeg" width="1000" height="300">
                                                    
                                                    
        <h1>                                                        Chiken-Hut</h1>
                                                    <img src="static/1495233791591f74ff92a40_f849ad9137d791aaa18fe4dad6dd8ea1.jpg" width="1000" height="300">
                                                    <big>Chicken HUT – це одна із найпопулярніших мереж закладів швидкого обслуговування в Україні.</big>
                                                    Ми єдині в Україні пропонуємо високоякісні, смачні та доступні страви з курки.
                                                    Усі їхні інгредієнти на шляху від постачальника до вашої тарілки проходять серію ретельних перевірок.
                                                    Страви із нашого меню є здоровою альтернативою жирної їжі, приготовленої на напівфабрикатах.
                                                    Процес приготування стандартизований і суворо контролюється спеціалістами. Тому наші гості можуть бути упевнені,
                                                    що відвідавши ресторан Chicken HUT у будь-якому місті, отримають завжди однаково якісні, смачні та поживні страви. 
                                                    Chicken HUT забезпечує виконання стандартів висококласного обслуговування, використовуючи сучасне технологічне обладнання і методику управління персоналом. 
                                                    У нас діють єдині стандарти для всіх ресторанів, починаючи від місця розташування, дозволів інтер'єру та екстер'єру, закінчуючи ціноутворенням і асортиментною політикою.
                                                    Chicken HUT – це активна і діяльна компанія, що рухається у ногу з часом і вимогами сучасної людини. Саме тому ми є одним з лідерів в індустрії фаст-фуду.
                                                    <big>Знаходиться на вулицях «Бельведерська,21A»,«Залізнична,49»,«Степана Бандери,62-2» </big>
                                                
        <h1>                                                        Royal Hamburger     </h1>
                                                    <img src="static/IMG_0026.jpg" width="1000" height="300">
                                                    <big>«Royal Burger» — популярна українська мережа швидкого харчування.
                                            Наші принципи — смачно, швидко і доступно. Ми співпрацюємо з провідними виробниками та пропонуємо
                                            нашим відвідувачам тільки свіжу та якісну продукцію.</big>
                                                     У нас ви не тільки смачно поїсте, а й зможете провести час у комфортній, приємній атмосфері,
                                                     поспілкуватися із друзями та просто отримати позитивний настрій на весь день.
                                                     Наша команда плідно працює задля підвищення вашого комфорту.
                                                     У наших закладах часто проходять веселі свята та розіграші призів, практикуються різні акції, вигідні й цікаві пропозиції.
                                                     Меню «Royal Burger» досить різноманітне та підійде як для молоді, так і для сім'ї з дітьми чи офісних працівників.
                                                     «Royal Burger» пропонує:бургери; піцу; роли; снеки; паніні; тости; картоплю фрі; нагетси; салати; страви з курки; різноманітні напої.
                                                     <big>Знаходиться на вулицях «Любомира Гузара,49»,«Євгена коновальця,141» </big>
        <h1>                                                        Фамілія     </h1>
                                                    <img src="static/завантаження (4).jfif" width="1000" height="300">
                                                    <big>Ресторан «Фамілія» – вечеря для всієї сім’ї</big>
                                                    Чимало франківців для сімейного відпочинку обирають саме ресторан «Фамілія».
                                                    Вам запропонують розміститися в одній із залів, або ж на літньому майданчику.
                                                    Для сімейних свят у вузькому колі, так і для ділових обідів з бізнес-партнерами є окремі зали на 10 персон.
                                                    Інтер’єр оформлений у стилі сучасної класики — світлі меблі, строкаті абажури та жива зелень.
                                                    Меню містить популярні європейські, східні та українські страви.
                                                    Зокрема м’ясні страви готуються на відкритому вогні. Для маленьких відвідувачів розроблена спеціальна десертна карта.
                                                    <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                    Дві стандартні страви на обід, які можна обрати у закладі – це борщ, картопляне пюре та запечене філе курки.
                                                    Такий обід вам обійдеться у 272 гривні.
                                                    Повечеряти стравою із кролика, картопляного пюре та салату із капусти можна за 291 гривню.
                                                    <big>Заклад можна знайти за адресою – Незалежності, 31.
                                                    Час роботи: 8:30 – 22:00</big>

                                                    
                    </pre> 







   
   
    <footer>
        <div class="footer-content">

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        
        <p style="text-align: center; margin-top: 3rem;">© All rights reserved.</p>
    </footer>

</body>
</html>