<!DOCTYPE html>
<html>
<head>
  
  <title>IF INSTiTuTions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <nav>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Головна</a>
                <a href="{{ url_for('main_menu2') }}">Заклади</a>

            </div>
        </nav>
    </header>


    <pre>



        <h1>                                                        Кав’ярня «Говорить Івано-Франківськ»</h1>
                                                        <img src="static/id_186891.jpg" width="1000" height="300">
                                                        Затишна кав’ярня «Говорить Івано-Франківськ» розташована в самому «серці» міста.
                                                        Заклад пропонує гостям і городянам великий вибір запашної кави (одинадцять моносортів),
                                                        чаю та інших напоїв, а також свіжих, смачних тістечок, сирників, десертів, тортиків, французької випічки Delikacia.
                                                        В кафе грає приємна музика, панує чудова атмосфера. Приміщення оформлене в теплих тонах. Обслуговування в кав’ярні на професійному рівні,
                                                        а офіціанти – привітні, ввічливі, усміхнені. Відвідувачам сподобаються «три шоколади», молочний коктейль, гарячий шоколад.
                                                        Каву тут готують різними способами – по-турецьки, з використанням френч пресу, в еспресо машині La Morzocco.
                                                        Графік роботи: понеділок – пятниця – з 8:00 до 21:45, в суботу й неділю - з 9:00 до 21:45 
                                                        Адреса: Івано-Франківськ, площа Ринок, будинок 8

        <h1>                                                        Кондитерська, кав’ярня Delikacia</h1>
                                                        <img src="static/1112904.jpg" width="1000" height="300">
                                                        Якщо Ви бажаєте випити чашку запашної кави або ароматного чаю, поласувати смачними еклерами, макарунами та тістечками,
                                                        завітайте до кондитерської і кав’ярні «Делікація»! Кондитерські вироби в закладі виготовляють з натуральних продуктів високої якості,
                                                        згідно французької рецептури, за новітніми технологіями.
                                                        остям також пропонують замовити сніданки, скуштувати суп-пюре з картоплею та пореєм, випити келих вина.
                                                        В «Делікації» панує приємна й спокійна атмосфера. Кухня в кондитерській знаходиться за прозорим склом.
                                                        Заклад охайний, характеризується хіпстерським дизайном, має доступ до Wi-Fi, а персонал – молодий і ввічливий.
                                                        Графік роботи: з понеділка по п’ятницю – з 7:45 до 22:00, суботу та неділю – з 9:00 до 22:00. 
                                                        Адреса: Івано=Франківськ, вулиця Незалежності, будинок 20 (Стометрівка)

        <h1>                                           «Фабрика кави» в Івано-Франківську (Coffee Factory)</h1>
                                                        <img src="static/1112905.jpg" width="1000" height="300">
                                                        «Фабрика кави» – затишний, атмосферний заклад міста Лева, який поєднує в собі палярню й кав’ярню.
                                                        Тут можна придбати обсмажену на найкращому, новітньому обладнанні, каву високої якості,
                                                        випити ароматний напій та з’їсти ласощі. Заклад може пишатися ексклюзивними сортами кави,
                                                        різноманітними чорними чаями та фруктовими сумішами. В кав’ярні можна замовити каву з собою.
                                                        Графік роботи: з понеділка по неділю – з 8:00 до 20:00 
                                                        Адреса: Івано-Франківськ, Південний бульвар, 35 

        <h1>                                                        Кав’ярня «Кавоварка»</h1>
                                                        <img src="static/1112879.jpg" width="1000" height="300">
                                                        Неподалік від парку Шевченка в Івано-Франківську працює затишна кав’ярня «Кавоварка».
                                                        Даний заклад пропонує туристам і мешканцям міста випити ароматну каву латте із свіжомелених зерен,
                                                        капучіно, трав'яні чаї, гарячий шоколад, скуштувати бездріжжевий хліб, смачні булочки,
                                                        панна котту, чізкейк, кремові десерти, тістечка, каптейки.
                                                        В закладі також можливо спробувати гарбузовий пиріг. Кав’ярня виготовляє торти на замовлення.
                                                        Відвідувачам сподобаються гарячі піти з різноманітними соусами, а також сендвіч-бейгл.
                                                        В закладі передбачена коктейльна й алкогольна карта, фреші та смузі. Привітний, 
                                                        усміхнений персонал обслуговує клієнтів на високому рівні.
                                                        Графік роботи: з понеділка по п’ятницю – з 8:00 до 20:00, субота та неділя – з 9:00 до 19:00 
                                                        Адреса: Івано-Франківськ, вулиця Чорновола, будинок 67

        <h1>                                                        Кав’ярня «Зерно істини»</h1>
                                                        <img src="static/1112880.jpg" width="1000" height="300">
                                                        Кав’ярня «Зерно істини» знаходиться в історичному «серці» Івано-Франківська.
                                                        З вікон закладу гості можуть милуватися панорамою старого Станіслава.
                                                        Кафетерій пропонує відвідувачам випити чашку ароматної кафи або кавового коктейлю,
                                                        скуштувати смачні сендвічі, бургери. Заклад характеризується затишною атмосферою й швидким обслуговуванням.
                                                        В кав’ярні працює ввічливий персонал, грає спокійна музика. «Зерно істини» починає працювати з восьмої години ранку. 
                                                        На сніданок тут пропонують замовити млинці з різноманітними начинками, смачні десерти. В закладі є також пиво та алкогольні напої.
                                                        Графік роботи: з понеділка по п’ятницю – з 8:00 до 24:00, субота та неділя – з 9:00 до 24:00 
                                                        Адреса: Івано-Франківськ, вулиця Грушевського, будинок 3 (приміщення театру і кіно «Люм’єр»).

        <h1>                                                        Мережа кав'ярень Street Coffee</h1>
                                                        <img src="static/1112881.jpg" width="1000" height="300">
                                                        Випити ароматне еспрессо, скуштувати лаваші, в тому числі з картоплею, тістечка, торти,
                                                        різноманітні солодощі, а також бургери, сендвічі зі шпинатом, бурітоси на грилі можливо в мережі кав’ярень Івано-Франківська Street Coffee.
                                                        В закладах працює привітний, молодий персонал, панує затишна атмосфера. Приміщення кафе гарно оформлені. 
                                                        В кав’ярнях, окрім кави, представлений широкий асортимент чаїв. Тут можна посидіти за ноутбуком в спокійній обстановці.
                                                        Графік роботи: з понеділка по п’ятницю – з 8:00 до 22:00, субота – з 9:00 до 22:00,
                                                        по вулиці Шевченка, 64 кав’ярня працює з понеділка по п’ятницю – з 8:00 до 20:00, в суботу – з 9:00 до 20:00, в неділю з 12:00 до 20:00.
                                                        По вулиці Чорновола, будинок 62 кав’ярня працює з понеділка по п’ятницю – з 8:00 до 20:00, в суботу – з 9:00 до 17:00, в неділю з 8:00 до 17:00,
                                                        а по вулиці Незалежності, будинок 53 - з понеділка по п’ятницю і в неділю – з 8:00 до 22:00, суботу – з 9:00 до 22:00.
                                                        Адреси:Івано-Франківськ, вулиця Гетьмана Мазепи, будинок 4. Івано-Франківськ, площа Міцкевича, будинок 1а.
                                                        Івано-Франківськ, вулиця Незалежності, будинок 19. Івано-Франківськ, вулиця Шевченка, будинок 64. 
                                                        Івано-Франківськ, вулиця Чорновола, будинок 62. Івано-Франківськ, вулиця Незалежності, будинок 53.

































    </pre>







   
    <footer>
        <div class="footer-content">

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        
        <p style="text-align: center; margin-top: 3rem;">© All rights reserved.</p>
    </footer>

</body>
</html>