<!DOCTYPE html>
<html>
<head>
  
  <title>IF INSTiTuTions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <nav>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Головна</a>
                <a href="{{ url_for('main_menu2') }}">Заклади</a>

            </div>
        </nav>
    </header>


    
    <pre>







        <h1>                                                        Піросмані</h1>
                                                        <img src="static/65e729a21e25d-960x678.jpg" width="1000" height="300">
                                                        <big><b>Ресторан «Піросмані» – відчути смак грузинської кухні</b></big>
                                                        Заклад «Піросмані» виконаний у тематичному стилі кавказької культури.
                                                        Ресторан має три зали, здатні прийняти до 100 гостей, додатково має літній майданчик на 30 осіб
                                                        і спеціальну дитячу кімнату для комфортного відпочинку з маленькими відвідувачами.
                                                        Заклад пропонує вишукані страви кухні Близького Сходу. А це – різноманітні види хінкалі, шашлику, харчо і хачапурі.
                                                        Також у ресторані є можливість замовлення доставки страв на вибір.
                                                        <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                        Гарячі чанахи на обід та хачапурі по аджарськи у «Піросмані» вам обійдуться у 255 гривень.
                                                        Віддавши перевагу шашлику зі свинини та салату із баклажаном ви заплатите 243 гривні.
                                                        <big>Заклад можна знайти за адресою – вул. Січових Стрільців, 15.
                                                            Час роботи: 11:00 − 22:00</big>
                                                        
        <h1>                                                        Дім Мулярових</h1>
                                                        <img src="static/gallery-100211_10-750x499.jpg" width="1000" height="300">
                                                        <big><b>Заклад автентичної гуцульської їжі – «Дім Мулярових»</b></big>
                                                        Це місце славиться не лише рецептами багаторічної давності, а й інтер’єром.
                                                        Це не просто заклад харчування, це своєрідний музей галицького побуту і кулінарії минулого століття.
                                                        Ресторан знаходиться в будинку періоду Австро-Угорщини, і це не випадково. Тут свого часу мешкала видатна кулінарка Стефанія Мулярова.
                                                        У 1909 році цей будинок звів для себе і своєї родини заможний мешканець Станіслава місцевий адвокат Ісаак Гольдфельд.
                                                        Його невістка, дружина старшого сина, Стефанія Мулярова, прославилася на все місто своїми кулінарними здібностями.
                                                        Ресторація Мулярових містить традиційну українську домашню кухню. У закладі можна скуштувати традиційний борщ, бограч та бануш.
                                                        Також автентичний яворівський пиріг, який є елементом нематеріальної спадщини України.
                                                        <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                        Комплексний обід з борщем дерунами зі сметаною та салатами у Ресторації Мулярових вам обійдеться у 245 гривень.
                                                        На вечерю обравши телятину із баношем та овочевий салат ви заплатите 430 гривень.
                                                        <big>Заклад можна знайти за адресою – вул. Чорновола, 5.
                                                            Час роботи: 11:00 – 21:00</big>

        <h1>                                                        Ростерія кави</h1>
                                                            <img src="static/rosteria-16-1024x683-1-1024x683.jpg" width="1000" height="300">
                                                            <big><b>Затишна «Ростерія кави»</b></big>
                                                            «Ростерія кави» позиціонує себе як кав’ярня третьої хвилі. Окрім того, у приміщенні облаштували палярню – локальне обсмажування кави.
                                                            Заклад розташований у будівлі, зведеній наприкінці XIX сторіччя, а при реставрації приміщення вдалося зберегти більшість автентичних елементів інтер’єру.
                                                            Окрім залу для гостей облаштували ще й літній майданчик.
                                                            <big>Скільки коштує ранкова кава із десертом у закладі?</big>
                                                            Чашка капучино із чизкейком вам обійдеться у 145 гривень. Проте у кав’ярні можна не лише скуштувати десерти, а й повноцінні страви.
                                                            Аби пообідати у закладі сирним супом та грецьким салатом вам потрібно витратити 195 гривень.
                                                            Обравши на вечерю бургер із куркою та теплий салат вам потрібно витратити 280 гривень.

        <h1>                                                        Шпиндель    </h1>
                                                            <img src="static/gallery-199111_18-1000x504.jpg" width="1000" height="300">
                                                            <big><b>Антикварний ресторан «Шпиндель»</b></big>
                                                            Аналогів подібного закладу немає в Україні – стверджують власники. Інтер’єр прикрашають оригінальні антикварні речі:
                                                            62 годинники та 17 барометрів, антикварні шафи та 100-річна барна стійка, касовий апарат 1895 року та старовинні картини.
                                                            А у вільну хвилинку гості можуть насолодитись звучанням вінтажного музичного автомату Jukebox, який відтворює вінілові платівки,
                                                            чи випробувати долю на механічному гральному автоматі «Однорукий бандит», який був випущений ще в далекому 1962 році.
                                                            Окремої уваги заслуговує куточок старого Станіславова. Унікальна діарама, що складається з багатьох сюжетних композицій,
                                                            кожний елемент якої був ретельно продуманий, та відтворює типове життя городян міста початку ХХ ст. в районі сучасної площі Міцкевича.
                                                            В закладі зібрана колекція алкогольних напоїв та цигарок радянської доби.
                                                            <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                            Скуштувати бограч та деруни із грибами ви зможете за 284 гривні.
                                                            Спробувати салат “Цезар” та печену картоплю на вечерю ви зможете за 229 гривні.

        <h1>                                                        Альпійський   </h1>
                                                            <img src="static/rest_1.jpg" width="1000" height="300">
                                                            <big><b>Ресторан “Альпійський” у Парк Готель Оптіма</b></big>
                                                            “Альпійський ресторан” – це європейська кухня в поєднанні з українськими стравами.
                                                            В приміщенні ресторану з комфортом поміщається 110 гостей, а у двох альтанках ще 50 гостей.
                                                            Також є літня тераса накрита для захисту від дощу, та відкрита для свіжого, чистого повітря.
                                                            Професійне обслуговування і чудовий настрій Вам забезпечені в унікальній атмосфері ресторану чи бару з прекрасним видом озера і парку.
                                                            Європейська кухня в поєднанні з українськими стравами в ресторані «Альпійський» від «Оптіма Парк Готелю» не залишить Вас байдужими.
                                                            Ви можете насолоджуватись напоями в барі чи на літній терасі або ж замовити VIP-кімнату ресторану для Вашого приватного святкування.
                                                            Є можливість проведення різних свят, корпоративів, банкетів, весіль. Знаходиться біля міського озера.
                                                            <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                            Скуштувати борщ та оладки із кабачка та батату ви зможете за 310 гривень.
                                                            Спробувати на вечерю суфле із коропа та овочі гриль ви зможете за 350 гривень.

        <h1>                                                        Десятка   </h1>
                                                            <img src="static/top-231503.jpg" width="1000" height="300">
                                                            “Десятка” – це заклад української та європейської кухні, свіжого пива і щирої гостинності.
                                                            Вас завжди радо зустрінуть, щоб нагодувати смачною їжею, зігріти душу приємною атмосферою і наповнити теплими спогадами.
                                                            Тут Ви можете спробувати традиційні страви Прикарпаття, смак яких підкреслить хмільний напій.
                                                            Серед рекомендованих страв – журек, гуляш, голонка, пивні крильця, дерун «Циганська радість»,
                                                            фірмове печене м’ясо, баранина, ковбаски гриль, банош, кров’янка, вареники, власні соління. Також є стейки, різноманітні напої і десерти.
                                                            <big>Скільки коштує повноцінний обід та вечеря у закладі?</big>
                                                            Скуштувати банош з грибами та сирний суп ви можете за 198 гривень.
                                                            Обравши на вечерю дерун із грибами та шопський салат ви заплатите 218 гривень.




    









    </pre>




    <footer>
        <div class="footer-content">

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        
        <p style="text-align: center; margin-top: 3rem;">© All rights reserved.</p>
    </footer>

</body>
</html>