<!DOCTYPE html>
<html>
<head>
  
  <title>IF INSTiTuTions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
 
    <header>
        <nav>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Головна</a>
                <a href="{{ url_for('main_menu2') }}">Заклади</a>

            </div>
        </nav>
    </header>
    <pre>






        <h1>                                                        Цей топ відкриває «АТБ»</h1>
                                                    <img src="static/DSC_0912_-600x400.jpg" width="1000" height="300">
                                                    <big>«АТБ-Маркет» (широко відома як «АТБ») — найбільша українська мережа супермаркетів як за товарообігом,
                                            так і за числом крамниць, яких у 2021 році мала 1314.
                                            Також здійснює доставку продуктів додому. Входить до складу Корпорації «АТБ». Зручно та економно!</big>
                                            Мережа продуктових супермаркетів «АТБ-Маркет» входить до складу дніпровської корпорації «АТБ».
                                                    Корпорація «АТБ» — це об'єднання великих українських компаній, що здійснюють свою діяльність у таких сферах бізнесу,
                                                    як управління активами, роздрібна торгівля, виробництво та продаж харчових продуктів, надання послуг у сфері спорту й відпочинку.
                                                    До складу корпорації «АТБ» входять мережа супермаркетів «АТБ-Маркет», кондитерська фабрика «Квітень», м'ясна фабрика «Фаворит Плюс», спортивний комплекс «Схід».
        <h3>                                                        Де можна знайти?</h3>
                                                    (вулиця Галицька, 201)(вулиця Галицька, 139 а)(вулиця Галицька, 57)(Набережна вулиця ім. Василя Стефаника, 32)(Південний бульвар, 22)
                                                    (вулиця Національної Гвардії, 16П)(вулиця Гната Хоткевича, 63 А)(вулиця Національної Гвардії, 16п)(вулиця Андрія Мельника, 10, корп. 10)
                                                    (вулиця Степана Бандери, 77Б)(вулиця Угорницька, 12)(вулиця Гетьмана Мазепи, 72)(Угринів, Івано-Франківська область)(вулиця Івана-Павла ІІ, 18 а)
                                                    (вулиця Василя Симоненка, 11А )(вулиця Вовчинецька, 185)(вулиця Гетьмана Мазепи, 169)(вул. В, вулиця Івасюка, 7)(с. Крихівці, вул. Слобідська, 2, прим, 256)


        <h1>                                                        Сім23,Сімі</h1>
                                                    <img src="static/news1.png" width="1000" height="300">
                                                    <big><b>Вітаємо на сайті мережі зручних маркетів Сімі та Сім23!</b></big>
                                                    Хто ми? Дружна команда, що з 2012 року розвиває найбільшу продуктову мережу західного регіону України – зручні маркети Сімі та Сім23.
                                                    Команда, що вірить у швидку (і смачну) їжу, ароматну (і свіжомелену) каву, зручну (і приємну) покупку, задоволених (і ситих) клієнтів.
                                                    Сімі та Сім23 – це не просто магазин, а місце, де можна швидко та зручно взяти все необхідне, смачно перекусити і зарядитися гарним настроєм.
                                                    Сьогодні Сімі та Сім23 – це понад 300 маркетів, що працюють у форматі convenience store. Ми знаємо, що твій час цінний, тому зробили покупки максимально зручними.
                                                    Що робить твої улюблені зручні маркети особливими?
                                                    ✅ Швидко – зручне розташування, все під рукою, мінімум часу на покупку
                                                    ✅ Смачно – гарячі хот-доги, бургери, багети, донати, випічка і ще багато смачного.
                                                    ✅ Зручно – продукти та товари без зайвих витрат і очікувань у довгих чергах.
                                                    ✅ Бадьоро – свіжозмелена кава та різноманітні холодні напої.
                                                    ✅ Привітно – заряджаємо тебе не лише енергією, а й позитивом
                                                    Що б ти не шукав – ми завжди поруч, щоб задовольнити твої щоденні потреби і зарядити гарним настроєм!
                                                    І в кожному місті, традиційно – ми тобі раді!
        <h3>                                                        Де можна знайти?</h3>
                                                    (вулиця Тролейбусна, 1)(вулиця Галицька, 99)(вулиця Незалежності, 5)(вулиця Василіянок, 68)(вулиця Василіянок, 11)
                                                    (вулиця Івана Франка, 10)(вулиця Василя Симоненка, 30а)(вулиця Олександра Довженка, 1)(вулиця Василя Стуса, 35)
                                                    (вулиця Шевченка, 49)(Північний бульвар, 4А)(вулиця Євгена Коновальця, 298Ж)(вул. Європейська)(Привокзальна площа, 9)
                                                    (вулиця Незалежності, 81)(вулиця Гетьмана Мазепи, 5)(вулиця Гетьмана Мазепи, 164)(вулиця Гетьмана Мазепи, 8)
                                                    (вулиця Євгена Коновальця, 86)(вулиця Княгинин, 44)

        <h1>                                                        Близенько</h1>
                                                    <img src="static/7487e10ba11523813a334acc6b83667f-original.webp" width="1000" height="300">
                                                    <big>Продаж широкого асортименту продуктів харчування, напівфабрикатів, алкогольних напоїв і тютюнових виробів.
                                           Випічка. Реалізація побутової хімії та господарських товарів.
                                                    </big>
                                                    З 2013 року ми працюємо для вас у п’ятьох областях Західної України: Львівській, Івано-Франківській, Тернопільській, Закарпатській та Чернівецькій.
                                                    Наші 2100 співробітників – це люди, які люблять свою справу та роблять все, щоб ваші покупки були максимально комфортними.
                                                    Ми постійно розвиваємося та пропонуємо можливості для кар’єрного зростання.
                                                    Якість – це про товари, послуги, власну випічку та каву. Ми ставимо за мету стандарт позитивного досвіду для покупця:
                                                    зручні, світлі, чисті магазини, у яких присутній широкий вибір потрібного товару, який легко знайти, якісне та швидке обслуговування.
                                                    Довіра – для нас важлива довіра від покупця та працівника. Звідси і походить кредо нашої компанії «близькі до найближчих»,
                                                    яке передбачає не лише зручне розташування магазинів , а й, насамперед, дбайливе ставлення  до кожного покупця та довірливі відносини з кожним працівником.
                                                    Відкритість – ми впроваджуємо інноваційні та цифрові рішення для встановлення ще більшого контакту з покупцями.
                                                    <big>Мережа магазинів Близенько – одна з найчисельніших мереж продуктового рітейлу на заході України, яка налічує більше 200 магазинів.</big>
                                                    Формат нашого магазину «біля дому» найкращий вибір для Вас, бо ми Близенько.
                                                    Ми знаходимось настільки близько до домівки наших покупців, що вони до нас часто приходять у домашніх тапочках!

        <h3>                                                        Де можна знайти?</h3>

                                                    (Калуське шосе, 3)(вулиця Тролейбусна, 4а)(вулиця Галицька, 145)(вулиця Крайківського, 3)(вулиця Княгинин, 44)
                                                    (вулиця Приозерна, 38)(вулиця Ленкавського, 34)(вулиця Бельведерська, 61)(вулиця Дністровська, 32)
                                                    (вулиця Дністровська, 32)(вулиця Дністровська, 32)(вулиця Пилипа Орлика, 4)(вулиця Залізнична, 49)(вулиця Симона Петлюри, 1)
                                                    (вулиця Симона Петлюри, 1)(вулиця Олександра Довженка, 63)(вулиця Незалежності, 99)(вулиця Івасюка, 62)(вулиця Січових стрільців, 7)
                                                    (вулиця Січових стрільців, 7)(вулиця Гетьмана Мазепи, 177, 1)
                                                    
        <h1>                                                        THRASH!</h1>
                                                    <img src="static/trash.jpg" width="1000" height="300">
                                                    <big><b>ТОРГОВЕЛЬНА МЕРЕЖА "МАРКЕТ SUPER" THRASH!ТРАШ!</b></big>
                                                    THRASH! ТРАШ! — це маркет super цін на товари №1! Ми справжні мисливці за оригінальними продуктами — як локального виробництва,
                                                    так і найцікавіших імпортних знахідок. У нас вже понад 4000 товарів, і особлива гордість — 550 позицій власного імпорту від Fozzy Group
                                                    Станом на кінець 2024 року мережа налічує 144 маркети по всій Україні, і ми не зупиняємося! Відкриваємо нові локації,
                                                    оновлюємо вже знайомі точки та постійно додаємо круті акції й активності, щоб робити улюблені товари Гостей ще доступнішими.
                                                    Ми не просто трощимо ціни — ми створюємо маркети, які відповідають усім "хочу" Гостя та заряджають super настроєм. Бо THRASH! ТРАШ! — то ваш маркет super!

        <h3>                                                        Де можна знайти?</h3>

                                                    (вулиця Галицька, 145)(вулиця Гетьмана Мазепи, 164)(вулиця Вовчинецька, 34)
                                                    (вулиця Вовчинецька, 190)(вулиця Івана Миколайчука, 11А)

        <h1>                                                        Сільпо</h1>
                                                    <img src="static/9d0a4061-hdr-edit.jpg" width="1000" height="300">
                                                    <big><b>Супермаркети «Сільпо» у м. Івано-Франківськ</b></big>
                                                    Мережа супермаркетів «Сільпо» – одна з найбільших національних мереж продовольчих супермаркетів України.
                                                    Тут ви знайдете актуальну інформацію щодо місцезнаходження, графіку роботи та доступних послуг для супермаркетів м.
                                                    Івано-Франківськ. Щоб замовити доставку або послугу самовивозу товарів з магазину в м. Івано-Франківськ, перейдіть в застосунок «Сільпо» або на сайт silpo.ua.
                                                    Мережа супермаркетів “Сільпо” є найбільшою торговельною мережею України, магазини мережі представлені як в Києві, так і в регіонах країни.
                                                    Переваги супермаркетів “Сільпо”:
                                                    можливість зробити вибір серед широкого асортименту товарів, особливо – свіжих продуктів (м’яса, птиці, риби, овочів, фруктів, хліба)
                                                    відмінна якість продукції;справедливі ціни;висока якість обслуговування;цілодобова робота
                                                    можливість отримувати спеціальні пропозиції завдяки програмі для постійних покупців «Власний рахунок»

        <h3>                                                        Де можна знайти?</h3>

                                                    (вулиця Дністровська, 3)(вулиця Гетьмана Мазепи, 168)(Північний бульвар, 2А)(вулиця Вовчинецька, 225А)









                    </pre> 


    <footer>
        <div class="footer-content">

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        
        <p style="text-align: center; margin-top: 3rem;">©  All rights reserved.</p>
    </footer>

</body>
</html>